
<form class="form mb-3" style="display:flex" action="/campgrounds/<%=campground._id%>/comments" method="POST">
    <input type="text" class="form-control" id="textInput" name="comment[text]" placeholder="Enter your comment here" required>
    <input class="btn btn-success ml-3" type="submit">
</form>
