<% include ./partials/header %>

<div class="about">
    <img class="myphoto img-thumbnail" src="https://i.imgur.com/Uidyibo.jpg">
    <h1>Huy Nguyen</h1>
    <h6>@giahuy2201</h6>
    <p>I am a backend developer</p>
    <p>Come visit me <a href="https://github.com/giahuy2201"><i class="fab fa-github"></i></a></p>
</div>

<% include ./partials/footer %>