<% include ./partials/header %>
<% include ./partials/alerts %>

<h1 class="text-center my-4">YelpCamp</h1>
<div class="signinPanel">
    <form action="/reset" method="POST">
        <h2>Forgot Password</h2>
        <div class="form-group">
            <label for="emailInput">Email</label>
            <input type="email" class="form-control" id="emailInput" name="email" required>
        </div>
        <div class="form-group my-4">
            <input class="btn btn-primary" type="submit" value="Reset Passord">
        </div>
    </form>
    <a href="/login">Go back</a>
</div>

<% include ./partials/footer %>
