<% include ./partials/header %>
<% include ./partials/alerts %>

<h1 class="text-center my-4">YelpCamp</h1>
<div class="signinPanel">
    <form action="/login" method="POST">
        <h2>Sign in</h2>
        <div class="form-group">
            <label for="usernameInput">Username</label>
            <input type="text" class="form-control" id="usernameInput" name="username" required>
        </div>
        <div class="form-group">
            <a class="text-primary float-right" href="/forgot">Forgot Password</a>
            <label for="passwordInput">Password</label>
            <input type="password" class="form-control" id="passwordInput" name="password" required>
        </div>
        <div class="form-group my-4">
            <input class="btn btn-primary btn-block" type="submit" value="Login">
        </div>
    </form>
    <hr>
    <p class="text-center text-mute">New to YelpCamp?</p>
    <a class="btn btn-outline-secondary btn-block" href="/register">Create your YelpCamp account</a>
</div>
    <a class="text-center d-block mt-3" href="/campgrounds">Go back</a>

<% include ./partials/footer %>