<% include ./partials/header %>

<h1 class="text-center my-4">YelpCamp</h1>
<div class="alertForm">
    <% include ./partials/alerts %>
</div>
<div class="signinPanel">
    <form action="/users" method="POST">
        <h2>Create an account</h2>
        <div class="form-group">
            <label for="nameInput">Full name</label>
            <input type="text" class="form-control" id="nameInput" name="name" required>
        </div>
        <div class="form-group">
            <label for="usernameInput">Username</label>
            <input type="text" class="form-control" id="usernameInput" name="username" required>
        </div>
        <div class="form-group">
            <label for="emailInput">Email</label>
            <input type="email" class="form-control" id="emailInput" name="email" required>
        </div>
        <div class="form-group">
            <label for="photoInput">Profile photo</label>
            <input type="text" class="form-control" id="photoInput" name="photo" required>
        </div>
        <div class="form-group">
            <label for="bioInput">Bio</label>
            <input type="text" class="form-control" id="bioInput" name="bio">
        </div>
        <div class="form-group">
            <label for="passwordInput">Password</label>
            <input type="password" class="form-control" id="passwordInput" name="password" required>
        </div>
        <div class="form-group">
            <label for="adminCodeInput">Admin Code</label>
            <input type="text" class="form-control" id="adminCodeInput" name="admin" required>
        </div>
        <div class="form-group form-check my-4">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
            <label class="form-check-label" for="exampleCheck1">I'm seriously want to have an account</label>
        </div>
        <div class="form-group">
            <input class="btn btn-success btn-block" type="submit" value="Sign up">
        </div>
    </form>
</div>
    <a class="text-center d-block mt-3" href="/login">Go back</a>

<% include ./partials/footer %>