<% include ./partials/header %>

<h1 class="text-center my-4">YelpCamp</h1>
<div class="container">
<div class="alertForm">
    <% include ./partials/alerts %>
</div>
<div class="signinPanel">
    <form action="/users" method="POST" enctype="multipart/form-data">
        <h2>Create an account</h2>
        <div class="form-group">
            <label for="nameInput">Full Name</label>
            <input type="text" class="form-control" id="nameInput" name="name" required>
        </div>
        <div class="custom-file mb-3">
            <input type="file" class="custom-file-input" id="imageInput" name="photo" accept="image/*" required>
            <label class="custom-file-label" for="imageInput">Choose your avatar</label>
        </div>
        <div class="form-group">
            <label for="usernameInput">Username</label>
            <input type="text" class="form-control" id="usernameInput" name="username" required>
        </div>
        <div class="form-group">
            <label for="emailInput">Email</label>
            <input type="email" class="form-control" id="emailInput" name="email" required>
        </div>
        <div class="form-group">
            <label for="bioInput">Bio</label>
            <input type="text" class="form-control" id="bioInput" name="bio">
        </div>
        <div class="form-group">
            <label for="passwordInput">Password</label>
            <input type="password" class="form-control" id="passwordInput" name="password" required>
        </div>
        <div class="form-group">
            <label for="passwordInput">Retype Password</label>
            <input type="password" class="form-control" id="passwordInput2" name="passwordVerify" data-toggle="tooltip" title="Passwords don't match!" data-placement="right" required>
        </div>
        <div class="form-group">
            <label for="adminCodeInput">Admin Code</label>
            <input type="text" class="form-control" id="adminCodeInput" name="admin">
        </div>
        <div class="form-group form-check my-4">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
            <label class="form-check-label" for="exampleCheck1">I'm seriously want to have an account</label>
        </div>
        <div class="form-group my-0">
            <input class="btn btn-success btn-block" type="submit" value="Sign up">
        </div>
    </form>
</div>
<a class="text-center d-block my-3" href="/campgrounds">Go back</a>
</div>

<% include ./partials/footer %>