<% include ../partials/header %>

<div class="jumbotron">
    <h1 class="display-4">Welcome to YelpCamp!</h1>
    <p class="lead">This is a place where people around the world enjoy sharing their fantastic campgrounds.</p>
    <hr class="my-4">
    <!-- <p>A huge library of hand-picked campground all over the world.</p> -->
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    <a class="float-right text-success" href="/campgrounds/new" role="button">Share a campground</a>
</div>

<div class="row">
    <% campgrounds.forEach((campground)=>{ %>
    <div class="col-lg-4 col-md-6">
        <a href="/campgrounds/<%=campground._id%>">
            <div class="card my-2">
                <img class="card-img-top" src="<%=campground.image%>">
                <div class="card-body text-dark">
                    <h2 class="card-title text-center">
                        <%=campground.name%>
                    </h2>
                </div>
            </div>
        </a>
    </div>
    <% }) %>
</div>

<% include ../partials/footer %>