<% include ../partials/header %>

<div class="card card-body bg-light py-1 mt-5 createCampgroundPanel">
    <form class="my-4" action="/campgrounds" method="POST">
        <h1 class="text-center">Create campground</h1>
        <div class="form-group">
            <label for="nameInput">Name</label>
            <input type="text" class="form-control" id="nameInput" name="name" placeholder="Yosemite" required>
        </div>
        <div class="form-group">
            <label for="imageInput">Image</label>
            <input type="text" class="form-control" id="imageInput" name="image" placeholder="http://image.com/yosemite.png"
                required>
        </div>
        <div class="form-group">
            <label for="descriptionInput">Description</label>
            <input type="text" class="form-control" id="descriptionInput" name="description" placeholder="This is the best mountain ever!"
                required>
        </div>
        <div class="form-group">
            <label for="priceInput">Price</label>
            <input type="number" class="form-control" id="priceInput" name="price" min="0.01" step="0.01" value="9.00">
        </div>
        <div class="form-group my-4 text-center">
            <input class="btn btn-success" type="submit">
        </div>
    </form>
</div>

<% include ../partials/footer %>