<% include ../partials/header %>

<h1 class="text-center my-4">YelpCamp</h1>
<div class="alertForm">
    <% include ../partials/alerts %>
</div>
<div class="signinPanel">
    <form action="/users/<%=userId%>/change" method="POST">
        <h2>Change your password</h2>
        <div class="form-group">
            <label for="oldPasswordInput">Old Password</label>
            <input type="password" class="form-control" id="oldPasswordInput" name="oldPassword" required>
        </div>
        <div class="form-group">
            <label for="passwordInput">New Password</label>
            <input type="password" class="form-control" id="passwordInput" name="newPassword" required>
        </div>
        <div class="form-group">
            <label for="passwordInput">Retype New Password</label>
            <input type="password" class="form-control" id="passwordInput2" name="passwordVerify" data-toggle="tooltip" title="Passwords don't match!" data-placement="right" required>
        </div>
        <div class="form-group my-0 mt-4">
            <input class="btn btn-success btn-block" type="submit">
        </div>
    </form>
</div>
<a class="text-center d-block my-3" href="/campgrounds">Go back</a>

<% include ../partials/footer %>