<% include ../partials/header %>

<h1 class="text-center my-4">YelpCamp</h1>
<div class="container">
<div class="alertForm">
    <% include ../partials/alerts %>
</div>
<form class="signinPanel" action="/users/<%=user._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
    <h2>Edit Profile</h2>
    <div class="form-group">
        <label for="nameInput">Full name</label>
        <input type="text" class="form-control" id="nameInput" name="name" value="<%=user.name%>" required>
    </div>
    <div class="custom-file mb-3">
        <input type="file" class="custom-file-input" id="imageInput" name="photo" accept="image/*" required>
        <label class="custom-file-label" for="imageInput">Choose your avatar</label>
    </div>
    <div class="form-group">
        <label for="emailInput">Email</label>
        <input type="email" class="form-control" id="emailInput" name="email" value="<%=user.email%>" required>
    </div>
    <div class="form-group">
        <label for="bioInput">Bio</label>
        <input type="text" class="form-control" id="bioInput" name="bio" value="<%=user.bio%>">
    </div>
    <div class="form-group">
        <label for="adminCodeInput">Admin Code</label>
        <input type="text" class="form-control" id="adminCodeInput" name="admin">
    </div>
    <div class="form-group my-0 mt-4">
        <input class="btn btn-success btn-block" type="submit">
    </div>
</form>
<a class="text-center d-block my-3" href="/campgrounds">Go back</a>
</div>

<% include ../partials/footer %>